# Introduction to Data Science Practice Assessment

In [2]:
import pandas as pd
import numpy as np

## Question 1
You are given a list of strings (data) where each string is in the form “$device_id,$usage_in_minutes" (quotes for clarity) such that $device_id contains exactly five lowercase English alphabets (’a’-’z’) and $usage_in_minutes is a positive integer between 1 and 1,440 with leading zeroes (if necessary, to make its length equal to 4). For instance, “abxyz,0010" describes $device_id = “abxyz” and $usage_in_minutes = 10 minutes. Given data, return the $device_id with the largest value of $usage_in_minutes. You may assume that $device_id’s are distinct and $usage_in_minutes’ are distinct in data.

In [3]:
data = ['abxyz,0010',
    'abxss,1340',
    'abcde,0241'
]

a = np.zeros((len(data), 2), dtype=object)
i = 0
for i in range(0,len(data)):
    a[i,0] , a[i,1] = data[i].split(",")
    a[i,1] = int(a[i,1])
df = pd.DataFrame(a, columns = ['device_id', 'usage_min'])
mx = max(df['usage_min'])
df['device_id'][df['usage_min'] == mx][1]

'abxss'

What i am doing is taking the data and putting it into an array that I then converted into a dataframe. Then doing calculations on the dataframe and filtering by subsetting the dataframe.

Let's do this without creating a data frame

In [4]:
max_usage = 0
id = ''
for c in data:
    model, usage = c.split(',')
    if int(usage) > max_usage:
        max_usage = int(usage)
        id = model

id

'abxss'

Here, the solution is to update the max usage as you go through the data one by one. Starting by initializing the variables you are going to update in the loop, then checking if the usage is greater than your previous maximum along the way.

## Question 2

Consider a function that is given an array/list A of distinct integers and an integer k (where 1 ≤ k ≤ len(A)), and returns all possible subarrays of A by removing k contiguous elements in A. That is, you wish to obtain a subarray of A by removing the first k elements in A, another subarray of A by removing the next k elements in A, and so on. For instance, when A = [2, 4, 6, 8, 10] and k = 3, you can remove [2, 4, 6] (which results in [8, 10]), [4, 6, 8] (which results in [2, 10]), or [6, 8, 10] (which results in [2, 4]). Since you are removing k elements from A, you always obtain a subarray of length (len(A) − k), and there are (len(A) − k + 1) such subarrays. In the provided code, the given function contains a buggy line of code. You are asked to find and fix one line of code so that the function will return a list of subarrays correctly.

In [5]:
def remove_k_elems(A, k):
    n = len(A)
    result = lambda arr, idx: arr[0:(idx - 1)] + arr[(idx + 1):n]
    return [ result(A,i) for i in range(n - k + 1) ]

In [6]:
test = list(range(2, 11, 2))
print(len(test))
remove_k_elems(test, 3)

5

[[2, 4, 6, 8, 4, 6, 8, 10], [6, 8, 10], [2, 8, 10]]

In [7]:
def remove_k_elems_fix(A, k):
    n = len(A)
    result = lambda arr, idx: arr[0:idx] + arr[(idx + k):n]
    return [ result(A,i) for i in range(n - k + 1) ]

remove_k_elems_fix(test,3)

[[8, 10], [2, 10], [2, 4]]

## Q3

Column Name | Type | Description
------------|------|------------
gender | string | either 'Male' or 'Female'
decade | string | one of '1910s', '1920s', etc., up to '2010s'
name | string | a non-empty string of a person's given name
frequency | int64 | the number of a given name per gender and decade 

Complete the following query (replace the blank ··· with your answer) so that the query results will produce a table that contains one row for each decade with the most popular female name (for gender “F”) and male name (for gender “M”) during the decade in columns name_f and name_m, respectively. You can assume that the data table contains no ties for the most popular name for each gender and decade pair.

```SQL
SELECT
    decade,
    MAX(CASE
        WHEN gender = 'F' THEN name ELSE '' END) AS name_f,
    MAX(CASE
        WHEN gender = 'M' THEN name ELSE '' END) AS name_m
    FROM(
        SELECT
            decade,
            gender,
            name,
            ...  AS x
        FROM data
    )
    WHERE x = 1
    GROUP BY 1
    ORDER BY 1

```

```SQL
SELECT
    decade,
    MAX(CASE
        WHEN gender = 'F' THEN name ELSE '' END) AS name_f,
    MAX(CASE
        WHEN gender = 'M' THEN name ELSE '' END) AS name_m
    FROM(
        SELECT
            decade,
            gender,
            name,
            RANK() OVER (PARTITION BY decade, gender ORDER BY frequency DESC)  AS x
        FROM data
    )
    WHERE x = 1
    GROUP BY 1
    ORDER BY 1

```

We need to create a ranking that resets every time it encounters a new decade and gender, where the ranking is based on the frequency of babies, with the highest frequency being the lowest rank.

## Q4

You are analysing the effectiveness of a tutorial used in your statistics class. You asked n students to take a standardised test before starting the tutorial and to take another test after completing the tutorial. A valid score from this test ranges from 300 to 500, inclusive. However, due to some bugs in the grading system, some of the tests were (incorrectly) graded such that scores of those tests were increased by a factor of two (i.e., they range from 600 to 1,000). After correcting this error, you want to perform a t-test with the following hypotheses:

* $H_0$: The average difference between before-tutorial and after-tutorial is 0
* $H_1$: The average difference is non-zero.

Complete the following code so that should_reject() returns true if the null hypothesis is rejected at the significance specified by alpha, and false otherwise. Assume that the conditions of your t-test are met (after fixing the incorrect scores). Constraints: score_before and score_after will contain the same number of elements (between 10 and 50 elements each, inclusive). Each element in score_before and score_after will be an integer between 300 and 1,000, inclusive. Alpha will be between 0.001 and 0.10, inclusive

In [8]:
from scipy import stats

In [9]:
def should_reject(score_before, score_after, alpha):
    # ...
    return #...

In [10]:
def should_reject(score_before, score_after, alpha):
    n = len(score_before)
    for i in range(n):
        if score_before[i] >= 600:
            score_before[i] = score_before[i]//2
        elif score_after[i] >= 600:
            score_after[i] = score_after[i]//2
    tstat, p = stats.ttest_rel(score_before, score_after)
    return p < alpha

There is probably a more concise way to do this, probably with vecorization, but my first instinct is that we need to correct the doubling error, so we go through the scores and check if they are greater than 600, if they are divide them by 2, we want the result to still be an integer, so we'll floor divide. Then we can use the `ttest_rel` function from the scipy package to run a two-sided ttest, then check the p-value against `alpha`.

In fact, the solution provided uses the `map` function, which applies a function to each element in a list. That solution is below:

In [17]:
def should_reject(score_before, score_after, alpha):
    corrector = lambda x : x if x <= 500 else x//2
    s0, s1 = list(map(corrector, score_before)), list(map(corrector, score_after))
    return stats.ttest_rel(s0, s1).pvalue < alpha

So, what did I learn from this. One, I had forgotten about the `map` function, which is ridiculously helpful! Do not apply an operation to an itterable with a for loop anymore! You can just write a $\lambda$ function and map it to the itterable! Although, keep in mind that the `map` function returns a "map object", which you have to run through a function like `list()` to get a specific type of object. Second, if a function returns multiple values, you can extract a specific one by typing `.outputname` after the funciton call. Lastly, if the function needs to return a `True` or `False` value, you don't need to explicitly tell it to return true or false based on a if/else statement. Just have it return the result of the boolean operation you are doing to check wich case you're in.

i.e. instead of using

```python
if a < b:
    return True
else
    return False
```
you should just write

```python
return a < b
```

In [18]:
## test
should_reject([300, 750], [800, 400 ], 0.05)

False

In [19]:
corrector = lambda x : x if x <= 500 else x//2
map(corrector, [300, 750])

## Q5

Consider a real-value independent variable A and real value dependent variable B. You wish to model the relationship between A and B using linear regression and compute the mean squared error of the said model using the leave-one-out validation method. Write a function that returns the mean squared error of the linear regression model, given n observed values of A and B as obs_A and obs_B. Assume that both obs_A and obs_B contain exactly n elements each.

Example function call

```python
linear_regression_loo(3, [0, 2, 3], [1, 2, 1])
```

Expected Output: 4.0833333333

You may import and use any of sklearn, numpy, and pandas

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

In [ ]:
def linear_regression_loo(n, A, B):
    return #probably something from sklearn

# test 
linear_regression_loo(3, [0,2,3], [1,2,1])

I decided to skip this one, since I don't think a question like this will come up on the CodeSignal assessment. I don't think the interviewer ever mentioned sklearn when asking about my ability, just numpy and pandas. Although this may be helpful to learn, My time crunch means that I can't spend too much time thinking about this problem.