# SQL Practice 12/3/2022

## Q1

Given the 3 table below, write a query to determine the top 5 artists whose songs appear in the top 10 of the `global_song_rank` table the highest number of times, call this "song appearances"

Output the top 5 artists names in ascending order along with their song appearences ranking. The order of rank should take precedence

Data Information

`artists` **Table**

Column Name | Type
------------|-----
artist_id | integer
artist_name | varchar

`songs` **Table**

Column Name | Type
------------|-----
song_id | integer
artist_id | integer

`global_song_rank` **Table**

Column Name | Type
------------|-----
day | integer (1 - 52)
song_id | integer
rank | integer (1 - 1,000,000) 



You can assume if two artists' have the same number of appearances, the artists should have the same rank. The rank number should be continuous and not skipped. i.e. 1,2,2,3,4,5 not 1,2,2,4,5,

My solution is below

```SQL
WITH artist_songs AS (SELECT
  songs.artist_id,
  COUNT(songs.song_id) AS song_count

FROM songs JOIN global_song_rank
  ON songs.song_id = global_song_rank.song_id

WHERE global_song_rank.rank <= 10

GROUP BY songs.artist_id
),

artist_rank AS (SELECT 
  artist_id,
  DENSE_RANK() OVER (ORDER BY song_count DESC) AS artist_rank

FROM artist_songs
)

SELECT artists.artist_name,
  artist_rank.artist_rank
  
  FROM artists JOIN artist_rank
    ON artists.artist_id = artist_rank.artist_id
  WHERE artist_rank.artist_rank <= 5
  ORDER BY artist_rank.artist_rank, artists.artist_name

;
```