# SQL Practice 11/16/2022

## Q1

Assume you are given a table containing viewership by device type, strictly limited to "laptop", "tablet", and "phone". Write a query to compare the viewership on laptops vs mobile devices (tablets and phones)

Output the total viewership for laptop and mobile devices as new columns `laptop_views` and `mobile_views`

Data Information

`viewership` **Table:**
Column Name | Type
------------|------
user_id | integer
device_type | string
view_time | timestamp

My solution is below:

```SQL
SELECT 
    SUM(CASE WHEN device_type = 'laptop' THEN 1 ELSE 0 END) AS laptop_views,
    SUM(CASE WHEN device_type IN ('tablet', 'phone') THEN 1 ELSE 0 END) AS mobile_views
FROM viewership
;
```

I actually did not originally know about the `CASE` command in SQL! Here we are using it in the SELECT statement, combined with the sum function to implement a count of multiple values in the device_type column. <br>
Another example of using it in the select statement is below:

```SQL
SELECT OrderID, Quantity,
CASE
    WHEN Quantity > 30 THEN 'The quantity is greater than 30'
    WHEN Quantity = 30 THEN 'The quantity is 30'
    ELSE 'The quantity is under 30'
END AS QuantityText
FROM OrderDetails
;
```

However, here we are using multiple cases to create a new column `QuantityText` and defining its values based on information in another column.

Using a `CASE` statement allows you to count multiple conditions, such as the query below:
```SQL
SELECT
    CASE WHEN year = 'FR' THEN 'FR'
        WHEN year = 'SO' THEN 'SO'
        WHEN year = 'JR' THEN 'JR'
        WHEN year = 'SR' THEN 'SR'
        ELSE 'No Year Data' END AS year_group,
        COUNT(1) AS count
    FROM benn.college_football_players
    GROUP BY year_group
;
```

Another solution to the original question that does not create new columns but contains the same information would be the following:

```SQL
SELECT 
    CASE WHEN device_type = 'laptop' THEN 'laptop'
        WHEN device_type IN ('tablet', 'phone') THEN 'mobile'
        END AS device,
        COUNT(1) AS count
    FROM viewership
    GROUP BY device
;
```

The original query solution would produce a table like:

laptop_views | mobile_views
-------------|--------------
2 | 3

While the second solution would produce a table like this:

device | count
-------------|--------------
laptop | 2
mobile | 3

```SQL


```