# SQL Query Practice 13/11/2022

## Q1
Given a table of candidates and their skills, you're tasked with finding the candidates best suited for an open Data Science job. You want to find candidates who are proficient in Python, Tableau, and PostgreSQL.

Write a query to list the candidates who possess all of the required skils for the job. Sort the ouput by candidate ID in ascending order. You may assume there are no duplicates in the candidates table.

### Data Information

`candidates` **Table**

Column Name | Type 
------------|------
candidate_id| integer
skill|varchar

My solution is below:

```SQL
SELECT candidate_id FROM candidates
    WHERE skill IN ('Python', 'Tableau', 'PostgreSQL')
    GROUP BY candidate_id
        HAVING COUNT(candidate_id) = 3
    ORDER BY candidate_id ASC 
;
```

We only want our output to contain the candidate_id's so we only select that column from the data. We only care about candidates that have Python, Tableau, and PostgreSQL, but if we only include the `WHERE` clause then it gives us back candidates that don't have all three. That's where the `HAVING` clause comes in, as it only includes candidates that have three rows in the resulting table, meaning that they have all three skills.

## Q2
Assume you are given the tables below about Facebook **pages** and **page likes**. Write a query to return the page IDs of all of the Facebook pages that don't have any likes. The output shold be in ascending order of page_id.

### Data Information
`pages` **Table:**

Column Name | Type
------------|------
page_id | integer
name | varchar

`page_likes` **Table:**

Column Name | Type
------------|------
user_id | integer
page_id | integer
liked_date | datetime

My solution is below:

```SQL
SELECT page_id FROM pages
    WHERE page_id NOT IN (
        SELECT page_id FROM page_likes
        ;
    )
ORDER BY page_id ASC
;
```

We want page_id's that don't appear in the page_likes table, that is how we can tell that they have no likes. So we use a subquery to get the page_id's of pages in the page_likes table, and then use a where clause to check that the page_id is not represented in that table.

It turns out, this can also be solved using a join. You can `LEFT JOIN` `pages` onto `page_likes`, with `page_id` as the common key, but only return values in `pages` that have a missing value in `page_likes`. That query is below:


```SQL
SELECT pages.page_id 
    FROM pages LEFT JOIN page_likes
        ON pages.page_id = page_likes.page_id
        WHERE page_likes.page_id IS NULL
    ORDER BY page_id ASC
;
```

## Q3
Assume you are given a table of users and you want to determine if there are any repeat values. Write a query to return all usernames that show up in the table more than once.

### Data Information:

`users` **Table**

Column Name | Type
------------|-----
user_id | integer
user_name | varchar
email | varchar

My solution is below:

```SQL
SELECT user_name, COUNT(user_name) FROM users
    GROUP BY user_name
        HAVING COUNT(user_name) > 1
;
```